<ion-item>

  <ion-card>
    <ion-card-content>
        <ion-icon name="footsteps" size="small" color="primary"></ion-icon>
        <ion-text> {{ viagens.distancia}} m</ion-text> 
    </ion-card-content>
  </ion-card> 

  <ion-card>
    <ion-card-content>
      <ion-icon name="hourglass" size="small" color="warning"></ion-icon>
      <ion-text> {{ viagens.tempo}} min</ion-text> 
    </ion-card-content>
  </ion-card> 

  <ion-card>
    <ion-card-content>
      <ion-icon name="flame" size="small" color="danger"></ion-icon>
      <ion-text> {{ viagens.carbono}} kg</ion-text> 
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-content>
      <ion-icon name="cash" size="small" color="success"></ion-icon>
      <ion-text> {{ viagens.dinheiro | currency : 'BRL'}}</ion-text> 
    </ion-card-content>
  </ion-card>

</ion-item>
    

    
         
    
        
    
