<ion-content [fullscreen]="true" scroll-y="false">
  
  <ion-img alt="imagem do aplicativo" src="assets/img/logo_EcoRota.png" ></ion-img>

  <ion-text class="infoPage">Digite seu e-mail para recuperar sua conta</ion-text>

 <div class="ion-padding">
  <ion-item>
    <ion-input [(ngModel)]="email" placeholder="Digite seu e-mail" class="input" />
    <ion-icon name="person-outline"></ion-icon>
  </ion-item>
  
  <ion-fab *ngIf="email" vertical="bottom" horizontal="end" style="margin-bottom: 30px;">
    <ion-fab-button (click)="resetar()">
      <ion-icon name="chevron-forward"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-button color="dark" expand="block" shape="round" (click)="voltar()">Voltar</ion-button>
  </div>
  
</ion-content>
