ion-col {
    border: solid 0px #fff;
    color: #fff;
    text-align: left;
    padding: 0px;
    ion-searchbar {
        background-color: #28BA62;
    } 
    ion-img{
        padding: 1px;
    }
  }

  ion-grid {
    --ion-grid-columns: 1;
    --ion-grid-width: 100%;
    --ion-grid-width-xs: 100%;
    --ion-grid-width-sm: 100%;
    --ion-grid-width-md: 100%;
    --ion-grid-width-lg: 100%;
    --ion-grid-width-xl: 100%;
    --ion-grid-padding: 0px;
    --ion-grid-padding-lg: 0px;
    --ion-grid-padding-md: 0px;
    --ion-grid-padding-sm: 0px;
    --ion-grid-padding-xl: 0px;
    --ion-grid-padding-xs: 0px;
  }

  .open_drawer_1 {
    transition: 0.5s ease;
    position: relative;
    left: 0px;
    bottom: 17%;
  }

  .open_drawer_2 {
    transition: 0.5s ease;
    position: relative;
    left: 0px;
    bottom: 31%;
  }
  
  .closed_drawer {
    height: 10vh;
    transition: 0.5s ease;
    position: relative;
    left: 0px;
    bottom: 0px;
  }

  .grid__2{
    position: fixed;
    bottom: 0;
    left: 0;
    ion-img{
        align-items: center;
        margin: auto;
        width: 35%;
    }
}