<ion-content scroll-y="false">
  
  <ion-grid [fixed]="true">
    <ion-row class="ion-justify-content-center">
      <ion-col> 
        <app-buscar-bar *ngIf="dataLocalPartida" [data]="dataLocalPartida" texto="Insira local de partida" (retornar)="retornoLocalPartida($event)">
        </app-buscar-bar>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid [fixed]="true">
    <ion-row class="ion-justify-content-center">
      <ion-col> 
        <app-buscar-bar *ngIf="openDestino" 
          [data]="dataLocalDestino" texto="Insira local de destino" (retornar)="retornoLocalDestino($event)">
        </app-buscar-bar>
      </ion-col>
    </ion-row>
  </ion-grid>

  <app-chart-line></app-chart-line>

  <app-trajeto-drawer *ngIf="openDrawer; else logo"
    [ngClass]="selecionarClassOpenDrawer()" 
    [mapa]="mapa"
    (selecionado)="selecionadoOpcao($event)">
  </app-trajeto-drawer>
  
  <ng-template #logo>
    <ion-grid class="grid__2">
      <ion-row>
        <ion-img alt="imagem do aplicativo" src="assets/img/EcoRota.png" ></ion-img>
      </ion-row>
    </ion-grid>
  </ng-template>

</ion-content>
