
<ion-item detail="false" lines="none">
  <ion-card *ngFor="let deslocamento of deslocamentos">
    <ion-text *ngIf="deslocamento != deslocamentos[0]" class="text_seta"> > </ion-text>
    <ion-card-content [ngClass]="isBus(deslocamento.nome) ? 'card_content_trajeto_bus' : 'card_content_trajeto'">
      <ion-icon [name]="selectIcon(deslocamento.nome)" size="small"></ion-icon>
      <ion-text class="text_trajeto"> {{ selectText(deslocamento) }}</ion-text> 
    </ion-card-content>
  </ion-card>    
</ion-item>