<ion-content [fullscreen]="true" scroll-y="false">

  <ion-img alt="imagem do aplicativo" src="assets/img/logo_EcoRota.png"></ion-img>
  
  <ion-text class="infoPage">Faça login para acessar sua conta </ion-text>
  
  <form [formGroup]="loginForm" novalidate>
    <div class="ion-padding">

      <ion-item>
        <ion-input placeholder="email" formControlName="email" class="input" />
        <ion-icon name="person-outline"></ion-icon>
      </ion-item>
      <div style="padding-top: -26px;padding-bottom: 16px;" *ngIf="this.loginForm.controls?.['email'].touched && this.loginForm.controls?.['email'].invalid">
          <ion-text *ngIf="errorControl.email.errors?.required" class="errorInput" color="danger">O e-mail é obrigatório.</ion-text>
          <ion-text *ngIf="errorControl.email.errors?.pattern" class="errorInput" color="danger">Forneça um e-mail válido.</ion-text>
      </div>
      
      <ion-item>
        <ion-input type="password" placeholder="senha" formControlName="senha" class="input" />
        <ion-icon name="lock-closed-outline"></ion-icon>
      </ion-item>
      <div style="padding-top: -26px;padding-bottom: 16px;" *ngIf="this.loginForm.controls?.['senha'].touched && this.loginForm.controls?.['senha'].invalid">
          <ion-text *ngIf="errorControl.senha.errors?.required" class="errorInput" color="danger">Senha requerida.</ion-text>
      </div>
    
      <div class="forgotsenha">
        <a [routerLink]="['/recuperar-conta']" style="color: #28BA62">Esqueceu sua senha?</a>
      </div>

    </div>
    <div class="cadastroLink">
      <p class="p">Novo membro? <a [routerLink]="['/cadastro']" style="color: #28BA62">Inscreva-se agora</a></p>
    </div>

    <ion-fab *ngIf="loginForm.valid" vertical="bottom" horizontal="end" style="margin-bottom: 30px;">
      <ion-fab-button  type="submit" (click)="login()" >
        <ion-icon name="chevron-forward"></ion-icon>
      </ion-fab-button>
    </ion-fab>
  </form>
</ion-content>