<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/conta" text=""></ion-back-button>
    </ion-buttons>
    <ion-title>Preferência conta</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list lines="none" color="success">
    <ion-list-header>
      <ion-label>Meios de transporte</ion-label>
    </ion-list-header>

    <ion-item>
      <ion-icon name="bus"></ion-icon>
      <ion-toggle color="warning">Ônibus</ion-toggle>
    </ion-item>

    <ion-item>
      <ion-icon name="subway"></ion-icon>
      <ion-toggle color="warning">Metro</ion-toggle>
    </ion-item>

    <ion-item>
      <ion-icon name="bicycle"></ion-icon>
      <ion-toggle color="warning">Bicicleta</ion-toggle>
    </ion-item>

  </ion-list>

  <ion-list lines="none" color="success">
    <ion-list-header>
      <ion-label>Opções de trajeto</ion-label>
    </ion-list-header>
    <ion-radio-group value="strawberries">
      
      <ion-item>
        <ion-radio value="grapes" color="primary"></ion-radio>
        <ion-label>Melhor trajeto</ion-label>
      </ion-item>

      <ion-item>
        <ion-radio value="strawberries" color="primary"></ion-radio>
        <ion-label>Mais sustentável</ion-label>
      </ion-item>

      <ion-item>
        <ion-radio value="cherries" color="primary"></ion-radio>
        <ion-label>Mais econômico</ion-label>
      </ion-item>

    </ion-radio-group>
  </ion-list>

</ion-content>
