<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home/conta" text=""></ion-back-button>
    </ion-buttons>
    <ion-title>Preferência conta</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" scroll-y="false">
  <ion-grid class="grid__1">
    <ion-row>
      <ion-list *ngIf="transporte && user" lines="none" color="success">
        <ion-list-header>
          <ion-label>Meios de transporte: </ion-label>
        </ion-list-header>

          <ion-item >
            <ion-icon name="bus"></ion-icon>
            <ion-toggle color="success" [(ngModel)]="user.preferencia.onibusAtivo" [checked]="user.preferencia.onibusAtivo">{{ transporte[0].nome }}</ion-toggle>
          </ion-item>

          <ion-item >
            <ion-icon name="subway"></ion-icon>
            <ion-toggle color="success" [(ngModel)]="user.preferencia.metroAtivo" [checked]="user.preferencia.metroAtivo">{{ transporte[1].nome }}</ion-toggle>
          </ion-item>

          <ion-item >
            <ion-icon name="bicycle"></ion-icon>
            <ion-toggle color="success" [(ngModel)]="user.preferencia.bicicletaAtivo" [checked]="user.preferencia.bicicletaAtivo">{{ transporte[2].nome }}</ion-toggle>
          </ion-item>

      </ion-list>
    
      <ion-radio-group *ngIf="opcoesTrajeto && user" value="user.preferencia.opcaoTrajeto" [(ngModel)]="user.preferencia.opcaoTrajeto" value="end">
        <ion-list  lines="none" color="success">
          <ion-list-header>
            Opções de trajeto:
          </ion-list-header>
          <ion-item *ngFor="let opcao of opcoesTrajeto">
            <ion-radio [value]="opcao.id" labelPlacement="end" justify="start" color="success">
              {{ opcao.nome }}
            </ion-radio>
          </ion-item>
        </ion-list>
      </ion-radio-group>

    </ion-row>
  </ion-grid>

  <ion-grid class="grid__2">
    <ion-row>
      <ion-img alt="imagem do aplicativo" src="assets/img/EcoRota.png" ></ion-img>
    </ion-row>
  </ion-grid>

</ion-content>
