<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/conta" text=""></ion-back-button>
    </ion-buttons>
    <ion-title>Preferência conta</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid class="grid__1">
    <ion-row>
      <ion-list lines="none" color="success">
        <ion-list-header>
          <ion-label>Meios de transporte: </ion-label>
        </ion-list-header>
          <ion-item *ngFor="let opcao of opcoesTransporte">
            <ion-icon [name]="selecionarIcon(opcao.label)" ></ion-icon>
            <ion-toggle color="success" [(ngModel)]="opcao.value" [checked]="opcao.value">{{ opcao.label }}</ion-toggle>
          </ion-item>
      </ion-list>
    
      <ion-radio-group  value="opcaoSelecionadaTrajeto" [(ngModel)]="opcaoSelecionadaTrajeto" value="end">
        <ion-list lines="none" color="success">
          <ion-list-header>
            Opções de trajeto:
          </ion-list-header>
          <ion-item *ngFor="let opcao of opcoesTrajeto">
            <ion-radio [value]="opcao.value" labelPlacement="end" justify="start" color="success">
              {{ opcao.label }}
            </ion-radio>
          </ion-item>
        </ion-list>
      </ion-radio-group>

    </ion-row>
  </ion-grid>

  <ion-grid class="grid__2">
    <ion-row>
      <ion-img alt="imagem do aplicativo" src="assets/img/EcoRota.png" ></ion-img>
    </ion-row>
  </ion-grid>

</ion-content>
