
ion-content{
    max-height: 100%;
}
ion-list{
    padding: 0px 0px 0px 0px;
}
ion-list-header{
    padding: 0%;
    font-weight: bolder;
    font-size: 1.3rem;
}


.grid__1{
   
    max-height: 60%;
    min-height: 60%;
    
}

.grid__2{
    position: relative;
    bottom: 0;
    left: 0;
    width: 50%;
    margin: auto;
    ion-img{
        align-items: center;
        margin: auto;
        width: 100%;
    }
}

