<div *ngIf="open; else clossed">
  
  <ion-button size="small" expand="full" (click)="openOrClossed()" color="light">
    <ion-icon slot="icon-only" name="chevron-down" size="small"></ion-icon>
  </ion-button>

  <ion-card (click)="opcaoSelecionado(opcao)" *ngFor="let opcao of mapa.opcoes">
    <ion-card-header>
      <ion-card-title>{{formatarTempo(opcao.recurso.tempo) }}</ion-card-title>
      <ion-card-subtitle>&nbsp;- Chega às {{ dataChegada(opcao.recurso.tempo) | date:'shortTime' }}</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>

      <app-trajeto-card [deslocamentos]="opcao.deslocamento"></app-trajeto-card> 
      <app-recurso-card [recurso]="opcao.recurso"></app-recurso-card>

    </ion-card-content>

  </ion-card>

</div>

<ng-template #clossed>

  <ion-button size="small" expand="full" (click)="openOrClossed()" color="light">
    <ion-icon slot="icon-only" name="chevron-up" size="small"></ion-icon>
  </ion-button>

  <div *ngIf="isSelecionado(); else vazio">
  
    <ion-card >
      <ion-card-header>
        <ion-card-title>{{formatarTempo(buscarSelecionado().recurso.tempo) }}</ion-card-title>
        <ion-card-subtitle>&nbsp;- Chega às {{ dataChegada(buscarSelecionado().recurso.tempo) | date:'shortTime' }}</ion-card-subtitle>
      </ion-card-header>
  
      <ion-card-content>
    
        <app-trajeto-card [deslocamentos]="buscarSelecionado().deslocamento"></app-trajeto-card> 
        <app-recurso-card [recurso]="buscarSelecionado().recurso"></app-recurso-card>
  
      </ion-card-content>
  
    </ion-card>
  
  </div>

</ng-template>

<ng-template #vazio>

  <ion-card>
    <ion-card-header>
      <ion-card-title></ion-card-title>
      <ion-card-subtitle></ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>

      <p>Nenhum trajeto selecionado.</p>

    </ion-card-content>

  </ion-card>

</ng-template>