<ion-tabs>
  <ion-tab-bar slot="bottom">

    <ion-tab-button tab="transporte" href="/transporte">
      <ion-icon aria-hidden="true" name="location"></ion-icon>
      <ion-label>Ir</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="historico" href="/historico">
      <ion-icon aria-hidden="true" name="stats-chart"></ion-icon>
      <ion-label>Historico</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="conta" href="/conta">
      <ion-icon aria-hidden="true" name="person"></ion-icon>
      <ion-label>Conta</ion-label>
    </ion-tab-button>

  </ion-tab-bar>
</ion-tabs>