<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home/conta" text=""></ion-back-button>
    </ion-buttons>
    <ion-title>Editar conta</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true" scroll-y="false">
  <form class="grid__1" [formGroup]="editarForm" novalidate>
    <ion-item>
      <ion-input class="input" placeholder="email" disabled="true" [value]="user.email"/>
      <ion-icon slot="end" name="mail-outline"></ion-icon>
    </ion-item>

    <ion-item >
      <ion-input class="input" formControlName="nome" placeholder="Nome completo"/>
      <ion-icon slot="end" name="person-outline"></ion-icon>
    </ion-item>
    <div style="padding-top: -26px;padding-bottom: 16px;"
      *ngIf="this.editarForm.controls?.['nome'].touched && this.editarForm.controls?.['nome'].invalid">
      <ion-text *ngIf="errorControl.nome.errors?.required" class="errorInput" color="danger">O nome completo é obrigatório.</ion-text>
    </div>

    <ion-item>
      <ion-input class="input" type="password" formControlName="senhaAtual" placeholder="senha atual" />
      <ion-icon slot="end" name="lock-closed-outline"></ion-icon>
    </ion-item>
    <div style="padding-top: -26px;padding-bottom: 16px;"
      *ngIf="this.editarForm.controls?.['senhaAtual'].touched && this.editarForm.controls?.['senhaAtual'].invalid">
      <ion-text *ngIf="errorControl.senhaAtual.errors?.required" class="errorInput" color="danger">A senha atual é obrigatório.</ion-text>
    </div>

    <ion-item>
      <ion-input class="input" type="password" formControlName="novaSenha" placeholder="nova senha" />
      <ion-icon slot="end" name="lock-closed-outline"></ion-icon>
    </ion-item>

    <ion-item>
      <ion-input class="input" type="password" formControlName="novaSenhaRepetida" placeholder="repita nova senha" />
      <ion-icon slot="end" name="lock-closed-outline"></ion-icon>
    </ion-item>

    <ion-fab *ngIf="editarForm.valid" vertical="bottom" horizontal="end" style="margin-bottom: 60px;">
      <ion-fab-button (click)="editar()">
        <ion-icon name="chevron-forward"></ion-icon>
      </ion-fab-button>
    </ion-fab>

  </form>

  <ion-grid class="grid__2">
    <ion-row>
      <ion-img alt="imagem do aplicativo" src="assets/img/EcoRota.png" ></ion-img>
    </ion-row>
  </ion-grid>

</ion-content>