<ion-content [fullscreen]="true">

  <div class="header">
    <ion-title class="title" size="large">Digite seu e-mail</ion-title>
    <p class="subtitle">Para receber um link de redefinição de senha</p>
  </div>
 <div class="ion-padding">
  <ion-item>
    <ion-input [(ngModel)]="email" placeholder="Digite seu e-mail" class="input" />
    <ion-icon name="person-outline"></ion-icon>
  </ion-item>
  <ion-button class="sendBtn" expand="block" shape="round" (click)="resetar()">Enviar</ion-button>
  </div>
  
</ion-content>
